body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-title {
  color: red;
  font-size: 8px;
}

.dog-image {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
